#pagetitle {
	background-color: #191919;
	padding: 70px 0 20px;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	@include box-shadow(0 -3px 7px rgba(#0c0c0c00, 0.2));
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: rgba(#fff, 1);
	}
	.page-title {
		color: #fff;
		font-size: 60px;
		line-height: 1.33333;
		letter-spacing: -0.025em;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Jost';	
		font-style: normal;	
		font-weight: 500;	
		font-size: 40px;	
		line-height: 58px;	
		text-align: center;	
		letter-spacing: 0.02em;	
		text-transform: capitalize;	
		color: #333333;
		@media #{$max-md} {
			font-size: 45px;
		}
		@media #{$max-sm} {
			font-size: 36px;
		}
	}
	.page-title-inner {
		@include transition(.3s cubic-bezier(.24,.74,.58,1));
		.main_title_ {
			font-family: 'Jost';
			font-style: normal;
			font-weight: 500;
			font-size: 17px;
			line-height: 25px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: #9E6F6F;
			z-index: 99;
			position: relative;
			width: 100%;
			span {
				padding-bottom: 5px;
				padding-left: 50px;
				position: relative;
				display: inline-block;
				&:before {
					content: '';
					width: 40px;
					height: 1px;
					position: absolute;
					left: 0;
					bottom: 18px;
					background-color: #9E6F6F;
				  }
			  }
		  }
	}
	.container {
		max-width: 960px;
	}
}

.evolt-breadcrumb {
	margin: 30px 0 0;	
	list-style: none;	
	color: #000;
	li {
		display: inline-block;
		padding-right: 12px !important;	
		padding-left: 0 !important;	
		font-family: 'Jost';	
		font-style: normal;	
		font-weight: 500;	
		font-size: 17px;	
		line-height: 22px;	
		text-align: center;	
		text-transform: capitalize;	
		color: #555555;	
		margin-left: 40px;	
		position: relative;	
		padding: 0.25em;	
		background-color: rgba(#555555, 0.1%);
		color: #555555;
		@media #{$max-sm} {
			font-size: 15px;
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 30px;
			background-color: rgba(#555555, 0.1%);
			-webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
			clip-path: polygon(100% 0, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
			transform: translateX(-100%);
			z-index: -1;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0px;
			left: 100%;
			height: 100%;
			width: 3em;
			background-color: rgba(#555555, 0.1%);
			-webkit-clip-path: polygon(50% 50%, -50% -50%, 0 100%);
			clip-path: polygon(50% 50%, -50% -50%, 0 100%);
			margin: 0;
			font-size: 10px;
		}
		&:last-child::after, &:last-child::before{
			background-color: rgba(#9E6F6F, 0.1%) !important;
		}
		&:last-child{
			color: #9E6F6F;
			background-color: rgba(#9E6F6F, 0.1%);
		}		
		a {
			color: inherit;
			&:hover {
				color: $primary_color;
			}
		}
	}
}