$primary_color: #1f201c;$secondary_color: #191919;$third_color: #ff7800;$dark_color: #191919;$link_color: #1f201c;$link_color_hover: #ff7800;$link_color_active: #ff7800;$gradient_color_from: #ff7800;$gradient_color_to: #ffa200;
                $body_default_font: Barlow;
            
                $heading_default_font: Lora;
            