$primary_color: #333829;$secondary_color: #191919;$third_color: #ff4b16;$dark_color: #191919;$link_color: #333829;$link_color_hover: #880c0c;$link_color_active: #880c0c;$gradient_color_from: #fb5850;$gradient_color_to: #ffa200;
                $body_default_font: Barlow;
            
                $heading_default_font: Google-Font;
            