body:not(.elementor-editor-active) .evolt-slick-slider {
    height: 150px;
    overflow: hidden;
    opacity: 0;
}
.slick-slide.slick-cloned img.lazyload {
    max-width: 100px;
}
.evolt-slick-carousel[data-vertical="false"] .slick-list .slick-track {
    display: flex;
}
#elementor-panel-get-pro-elements {
  display: none !important;
}
.elementor-icons-manager__tab__item {
  height: 80px !important;
}
.elementor-element .elementor-widget:not(:last-child) {
    margin-bottom: 0;
}
.elementor-section-height-full > .elementor-container > .elementor-column {
    height: 100%;
}
.elementor .elementor-section.elementor-section-boxed > .elementor-container {
    &.elementor-column-gap-default {
        max-width: 1190px;
    }
    &.elementor-column-gap-extended {
        max-width: 1200px;
        .elementor-section-boxed > .elementor-column-gap-no {
            max-width: 1170px;
        }
    }
}
.elementor-editor-active {
    .site-footer-custom, #evolt-header-wrap, #pagetitle {
        display: none !important;
    }
    .elementor-element--toggle-edit-tools.elementor-widget-empty {
        background-color: transparent;
    }
    .tnp-field > label {
        display: none;
    }
}
.site-content, .site-footer-custom {
    .elementor-container {
        &.elementor-column-gap-default {
            margin: 0 -10px;
        }
        &.elementor-column-gap-extended {
            margin: 0 -15px;
        }
    }
    .elementor-section-stretched.elementor-section-boxed .elementor-container.elementor-column-gap-default {
        margin: 0 auto;
        .elementor-row {
            .elementor-column-gap-extended {
                margin: 0 -10px;
            }
        }
    }
    .elementor-section-stretched.elementor-section-boxed .elementor-container.elementor-column-gap-extended {
        margin: 0 auto;
        .elementor-row {
            .elementor-column-gap-extended {
                margin: 0 -15px;
            }
        }
    }
    .elementor-section-stretched.elementor-section-full_width .elementor-section-boxed > .elementor-column-gap-extended {
        position: relative;
        left: 50%;
        @include transform(translate(-50%, 0%));
        margin: 0;
    }
    .elementor-widget-text-editor {
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
    }
    .elementor-inner-section .elementor-column-gap-extended .elementor-row .elementor-column:last-child {
        margin-right: -1px;
        padding-right: 1px;
    }
}

.site-content {
    .elementor-section.elementor-section-stretched .elementor-inner-section .elementor-column-gap-extended {
        margin: 0 -15px;
    }
}

.site-footer-custom .elementor-section:not(.elementor-section-full_width) .elementor-inner-section .elementor-container.elementor-column-gap-extended {
    margin: 0 -15px;
}

.footer-template-default {
    #evolt-masthead, #pagetitle {
        display: none;
    }

}

@media #{$min-xl} {
    .elementor-section-full_width.elementor-section-stretched .elementor-inner-section > .elementor-container {
        left: 50%;
        @include transform(translate(-50%, 0%));
    }
}

.elementor-section-full_width.landing-boxed > .elementor-container {
    max-width: 1810px;
    padding: 0 55px;
    @media #{$max-lg2} {
        padding: 0 15px;
    }
    > .elementor-row {
        background-color: #fff;
        @include box-shadow(0 0 54px rgba(#07004c, 0.30));
        overflow: hidden;
        .elementor-element > .elementor-container {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.elementor-section-full_width.landing-boxed > .elementor-container > .elementor-row {
    @include box-shadow(none);
}

.evolt-text-editor {
    p:last-child {
        margin-bottom: 0;
    }
}

.elementor-widget-icon-box .elementor-icon i:before {
    position: static;
}

body .elementor-widget-icon-box.elementor-view-framed .elementor-icon, 
body .elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: $primary_color;
    color: $primary_color;
    border-color: $primary_color;
}

.single-footer, .elementor_library-template-default.single-elementor_library {
    #evolt-masthead, #colophon {
        display: none;
    }
}

.elementor_library-template-default {
  .entry-meta, .entry-footer, .post-previous-next, #secondary {
    display: none;
  } 
  #content #primary {
    padding-left: 15px;
    padding-right: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media #{$max-lg} {
    .col-offset-left > .elementor-column-wrap .elementor-widget-wrap,
    .col-offset-left > .elementor-widget-wrap {
        padding-left: 0 !important;
    }
    .col-offset-right > .elementor-column-wrap .elementor-widget-wrap,
    .col-offset-right > .elementor-widget-wrap {
        padding-right: 0 !important;
    }
}

.animate-time1 .wow {
    animation-delay: 100ms;
}
.animate-time2 .wow {
    animation-delay: 200ms;
}
.animate-time3 .wow {
    animation-delay: 300ms;
}
.animate-time4 .wow {
    animation-delay: 400ms;
}
.animate-time5 .wow {
    animation-delay: 500ms;
}
.animate-time6 .wow {
    animation-delay: 600ms;
}
.animate-time7 .wow {
    animation-delay: 700ms;
}
.animate-time8 .wow {
    animation-delay: 800ms;
}
.animate-time9 .wow {
    animation-delay: 800ms;
}
.animate-time10 .wow {
    animation-delay: 1000ms;
}
.animate-time11 .wow {
    animation-delay: 1100ms;
}
.animate-time12 .wow {
    animation-delay: 1200ms;
}
.animate-time13 .wow {
    animation-delay: 1300ms;
}
.animate-time14 .wow {
    animation-delay: 1400ms;
}
.animate-time15 .wow {
    animation-delay: 1500ms;
}
.animate-time16 .wow {
    animation-delay: 1600ms;
}